/*Use: 
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
DARK BLUE: #457B9D
LIGHT BLUE: #1D3557

Make sure to include: 
-Classes
-Flexbox
-Background-image
-The color palette

-Maybe Henderson Sans, Railway,  or Authenia textured?
https://coolors.co/palette/312e56-9d7498-733b3d-383d73-1d101c
*/
body {
    margin: 0;
    text-align: center;
    font-family: "Island Moments", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    
}

/*Utility classes*/
.top-space-remover {
    margin-top: 0;
}

.bottom-space-remover {
    margin-bottom: 0;
}

.circular {
    border-radius: 50%;
    width: 250px;
    border: 8px solid #A980C2;
}
/*Utility classes end*/

.title {
    background: #B7D8FD;
    padding: 6px 16px;
    border-radius: 6px;
}

#Clermont-hero {
    margin-top: auto;
    margin-bottom: 0;
}

#Clermont-sidekick {
    margin-bottom: auto;
    margin-top: 15px;
}    

#top3-title {
    padding-top: 20px;
}

#Shack {
    height: 150px;
}

#minneola {
    height: 200px;
}

#Hiawatha {
    height: 200px;
}

.Clermont-tower {
    background-image: url('images/citrus-tower.png');
    background-size: cover;
    background-position: center -200px;
    background-repeat: no-repeat;
    height: 450px;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.activities {
    background-color: #DEE6F6;
}

#top3 {
    display: flex;
    justify-content: space-around;
}

h3 {
    width: 200px;
    text-align: center;
    padding-left: 35px;
}

.tour-guide {
    display: flex;
    justify-content: center;
    height: 400px;
    background-image: url('images/Florida.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-me {
    background-color: #BC969D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    width: 450px;
    border-radius: 6px;
    border-bottom: 6px solid #C65E4C;
}

#me {
    margin-top: 10px;
    border-radius: 8px;
    height: 300px;
}

.my-info {
    padding-left: 20px;
}

#clermont-experience {
    width: 200px;
    font-size: 30px;
}